<section *ngIf="wins || lost || noWins" class="filter-blur">
  <div class="modal">
    <div class="title">
      <h3 *ngIf="lost" class="emoji">Não foi dessa vez!😥</h3>
      <h3 *ngIf="wins" class="emoji">Parabéns! 🎊 Você é demais! 🚀 </h3>
      <h3 *ngIf="noWins" class="emoji">Ninguém ganhou!😥</h3>

    </div>
    <div class="payload">
      <h4 *ngIf="lost" style="font-weight: 600">Que tal tentar uma revanche?</h4>
      <h4 *ngIf="wins" style="font-weight: 600">Que tal jogar novamente?</h4>
      <h4 *ngIf="noWins" style="font-weight: 600">Que tal jogar novamente e decidir isso agora?</h4>

    </div>
    <div class="box-btn">
      <button (click)="routeHome()">Sair</button>
      <button *ngIf="lost" (click)="onChallenge()">Revanche</button>
      <button *ngIf="wins || noWins" (click)="onChallenge()">Jogar novamente</button>
    </div>
  </div>
</section>
