.title {
  border-bottom: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section{
  display: flex;
  animation: animationScale .2s;

}
.modal {
  div {
    padding: 1rem 1rem 0.5rem 1rem;
    width: auto;
  }

  & div:nth-last-child(1) {
    padding-bottom: 1.2rem;
  }
}

.title,
.payload,
.box-btn {
  padding: 0.5rem 1.5rem;
}
.box-btn {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  button {
    width: auto;
    padding: 0.4rem .6rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
  }
  & button:nth-child(1) {
    padding: 0.4rem 1.4rem;
    background-color: #bababa;
    border: 1px solid #ababab;
    color: #424242;
    &:hover {
      background-color: #ababab;
    }
  }
  & button:nth-child(2),   button:nth-child(3){
    background-color: #7ce16b;
    border: 1px solid #68cd57;
    color: #05641a;
    &:hover {
      background-color: #6bd857;
    }
  }
}

