<div [attr.expandBoard]="expandBoard" class="container">
  <app-mark size="big" style="position: absolute; left: 50%; top: 33%; transform: translate(-45%, -25%);" *ngIf="boardSecondary.getWinner() != ''" [mark]="boardSecondary.getWinner()"></app-mark>
  <div
  *ngIf="boardSecondary.getWinner() == ''"
    class="board"
    (click)="expandBoard = true"
    [ngClass]="{ expand: expandBoard , contract: !expandBoard, boardEmphasis: isBoardCurrent}"
  >
    <div class="box" (click)="onMakeMove(0, 0)">
      <span class="mark">
        <app-mark size='small' class="mark" [mark]="boardSecondary.board[0][0]"></app-mark>
      </span>
    </div>
    <div class="box" (click)="onMakeMove(0, 1)">
      <span class="arrow-column"></span>
      <app-mark class="mark" [mark]="boardSecondary.board[0][1]"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(0, 2)">
      <span class="arrow-column"></span>
      <app-mark class="mark" [mark]="boardSecondary.board[0][2]"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(1, 0)">
      <span class="arrow-line"></span>
      <app-mark class="mark" [mark]="boardSecondary.board[1][0]"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(1, 1)">
      <app-mark class="mark" [mark]="boardSecondary.board[1][1]"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(1, 2)">
      <app-mark class="mark" [mark]="boardSecondary.board[1][2]"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(2, 0)">
      <span class="arrow-line"> </span>
      <app-mark class="mark" [mark]="boardSecondary.board[2][0]"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(2, 1)">
      <app-mark class="mark" [mark]="boardSecondary.board[2][1]"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(2, 2)">
      <app-mark class="mark" [mark]="boardSecondary.board[2][2]"></app-mark>
    </div>
  </div>
</div>
