<main *ngIf="game">
  <h3 style="display: flex; align-items: center; gap: 1rem">
    Seu marcador é
    <app-mark size="small" [mark]="game.player1.marker"></app-mark>
  </h3>

  <board-main [gamePlayer]="game"></board-main>

  <!-- <div  class="board">
    <div class="box" (click)="onMakeMove(0, 0)">
      <span class="mark">
        <app-mark class="mark" [mark]="game.getCellOfBoard(0, 0)"></app-mark>
      </span>
    </div>
    <div class="box" (click)="onMakeMove(0, 1)">
      <span class="arrow-column"></span>
      <app-mark class="mark" [mark]="game.getCellOfBoard(0, 1)"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(0, 2)">
      <span class="arrow-column"></span>
      <app-mark class="mark" [mark]="game.getCellOfBoard(0, 2)"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(1, 0)">
      <span class="arrow-line"></span>
      <app-mark class="mark" [mark]="game.getCellOfBoard(1, 0)"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(1, 1)">
      <app-mark class="mark" [mark]="game.getCellOfBoard(1, 1)"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(1, 2)">
      <app-mark class="mark" [mark]="game.getCellOfBoard(1, 2)"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(2, 0)">
      <span class="arrow-line"> </span>
      <app-mark class="mark" [mark]="game.getCellOfBoard(2, 0)"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(2, 1)">
      <app-mark class="mark" [mark]="game.getCellOfBoard(2, 1)"></app-mark>
    </div>
    <div class="box" (click)="onMakeMove(2, 2)">
      <app-mark class="mark" [mark]="game.getCellOfBoard(2, 2)"></app-mark>
    </div>
  </div> -->

  <div *ngIf="!modalLost && !modalWins" style="position: relative">
    <h3
      *ngIf="game"
      [ngClass]="{
        'view-animation': game.playerCurrent.id == userId,
        'hidden-animation': game.playerCurrent.id != userId
      }"
    >
      Sua vez! ▶️
    </h3>
    <h3
      *ngIf="game"
      [ngClass]="{
        'hidden-animation': game.playerCurrent.id == userId,
        'view-animation': game.playerCurrent.id !== userId
      }"
    >
      Aguarde sua vez! <span class="wait">⏳</span>
    </h3>
  </div>
</main>
<app-modal-play-end
  (eventChalleng)="onNewChallenge()"
  [wins]="modalWins"
  [lost]="modalLost"
  [noWins]="modalNoWins"
></app-modal-play-end>
