<main *ngIf="game">
  <h3 style="display: flex; align-items: center; gap: 1rem">
    Seu marcador é
    <app-mark size="small" [mark]="game.player1.marker"></app-mark>
  </h3>

  <board-main [gamePlayer]="game"></board-main>

  <div *ngIf="!modalLost && !modalWins" style="position: relative">
    <h3
      *ngIf="game"
      [ngClass]="{
        'view-animation': game.playerCurrent.id == userId,
        'hidden-animation': game.playerCurrent.id != userId
      }"
    >
      Sua vez! ▶️
    </h3>
    <h3
      *ngIf="game"
      [ngClass]="{
        'hidden-animation': game.playerCurrent.id == userId,
        'view-animation': game.playerCurrent.id !== userId
      }"
    >
      Aguarde sua vez! <span class="wait">⏳</span>
    </h3>
  </div>
</main>
<app-modal-play-end
  (eventChalleng)="onNewChallenge()"
  [wins]="modalWins"
  [lost]="modalLost"
  [noWins]="modalNoWins"
></app-modal-play-end>
