main {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.board {
  width: 16rem;
  height: 16rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #b9b9b951;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  animation: rotate 0.2s ease-out;
}
.info-tool {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.tool {
  position: fixed;
  bottom: 3rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.btn-host {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #9292922d;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #9292925c;
  }
  .dot {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #929292;
  }
}

.tool-btn {
  cursor: pointer;
  background-color: #bcbcbc;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  display: none;
  &:hover{
    background-color: #b1b1b1;
  }
}
.tool-btn-open{
  display: flex;
  animation: tool-btn-animation-open .3s;
}
.tool-btn-close{
  animation: tool-btn-animation-close .3s;
}

.box {
  position: relative;
  cursor: pointer;
  .mark {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.arrow-line,
.arrow-column {
  position: absolute;
  background-color: #9b9b9b;
  border-radius: 2px;
}
.arrow-line {
  height: 2px;
  width: 300%;
}

.arrow-column {
  width: 2px;
  height: 300%;
}
@keyframes rotate {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hidden {
  display: none;
}
.hidden-animation {
  width: max-content;
  left: 50%;
  position: absolute;
  opacity: 0;
  animation: hidden 1s;
}
.view-animation {
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  position: absolute;
  opacity: 1;
  animation: view 1s;
}
.wait {
  animation: waitEmoji 2s infinite;
  display: inline-flex;
}

@keyframes tool-btn-animation-open{
  from{
    transform: translateY(80%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tool-btn-animation-close{
  from{
    transform: translateY(0);
    opacity: 1;
  }
  to{
    transform: translateY(60%);
    opacity: 0;
  }
}
@keyframes hidden {
  from {
    opacity: 1;
    display: block;
    transform: translate(-50%, 0px);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 30px);
  }
}
@keyframes view {
  from {
    opacity: 0;
    transform: translate(-50%, -30px);
  }
  to {
    display: none;
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}
@keyframes waitEmoji {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 350px) {
  main {
    padding: 1rem 0;
    gap: 1rem;
  }
}
