<main>
  <section>
    <h2 style="display: flex; align-items: center;">Jogadores online 🕹️<span style="font-size: 15px;">🟢</span></h2>
    <div class="container">
      <div class="box-search">
        <input type="text" placeholder="nome, email ou id..." />
        <button>Buscar</button>
      </div>
      <div class="list-players">
        <ul *ngIf="players">
          <li *ngFor="let player of players">
            <span>{{ player.name }}</span> <button [id]="player.id" (click)="onChallenge($event.target)">Desafiar</button>
          </li>
        </ul>
        <div *ngIf="players.length == 0" class="box-no-players">
          <img src="/assets/img/face-sad.svg" alt="" srcset="" />
          <h4>Nenhum jogador online!</h4>
        </div>
      </div>
    </div>
  </section>
</main>
