<div class="board">
    <span class="arrow-line arrow-line-1"></span>
    <span class="arrow-line arrow-line-2"></span>
    <span class="arrow-line arrow-line-3"></span>
    <span class="arrow-line arrow-line-4"></span>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(0, 0)" />
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(0, 1)"/>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(0, 2)"/>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(1, 0)"/>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(1, 1)"/>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(1, 2)"/>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(2, 0)"/>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(2, 1)"/>
    <board-secundary [boardSecondary]="gamePlayer.getBoardSecondary(2, 2)"/>
</div>
