.board {
    width: 16rem;
    height: 16rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #b9b9b951;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    animation: rotate 0.2s ease-out;
    position: relative;
  }
  .box {
    position: relative;
    cursor: pointer;
  }
  .arrow-line{
    position: absolute;
    background-color: #9b9b9b;
    border-radius: 2px;
    width: 95%;
    height: 2px;
  }
  .arrow-line-1{
    left: 50%;
    transform: translateX(-50%);
    top: 34%;
  }
  .arrow-line-2{
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
  }
  .arrow-line-3{
    height: 95%;
    width:  2px;
    top: 50%;
    left: 34%;
    transform:  translateY(-50%);
  }
  .arrow-line-4{
    height: 95%;
    width:  2px;
    top: 50%;
    left: 65%;
    transform:  translateY(-50%);
  }


  
  .hidden {
    display: none;
  }
  .hidden-animation {
    width: max-content;
    left: 50%;
    position: absolute;
    opacity: 0;
    animation: hidden 1s;
  }
  .view-animation {
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    position: absolute;
    opacity: 1;
    animation: view 1s;
  }
  .wait {
    animation: waitEmoji 2s infinite;
    display: inline-flex;
  }
  @keyframes hidden {
    from {
      opacity: 1;
      display: block;
      transform: translate(-50%, 0px);
    }
    to {
      opacity: 0;
      transform: translate(-50%, 30px);
    }
  }
  @keyframes view {
    from {
      opacity: 0;
      transform: translate(-50%, -30px);
    }
    to {
      display: none;
      opacity: 1;
      transform: translate(-50%, 0px);
    }
  }
  @keyframes waitEmoji {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @media only screen and (max-width: 350px) {
    main {
      padding: 1rem 0;
      gap: 1rem;
    }
  }
  