
.o[size = 'small']{
    width: 50%;
}
.x[size = 'small']{
    width: 50%;
    
}
.x[size = 'big']{
    width: 100% !important;
}
.o[size = 'big']{
    width: 100% !important;
}
.q{
    width: 100% !important;
}